@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html{
  font-family: 'Roboto', sans-serif;
}

#profile__img {
  background-image: url(/public/profile-img.png);
  background-repeat: no-repeat;
  width: 88px;
  height: 88px;
  border-radius: 275px;
  cursor: pointer;
}

#profile__img:hover {
  background-image: url(/public/Profilr-hover.png);
}

#share-icon {
  position: absolute;
  right: 15%;
  cursor: pointer;
}

#more-icon {
  position: absolute;
  right: 5%;
  cursor: pointer;
}

.border-gray {
  border-top: 2px solid #e9e9e1;
}

a.btn {
  background-color: #e9e9e1;
}

a.btn:hover {
  background-color: lightgray;
}

a.btn:focus {
  background-color: #e9e9e1;
  border: 1px solid lightgray;
}